<div class="container">
  <div class="row">
    <div class="col-xl-offset-4 col-xl-8"><%= render "/layouts/search" %></div>
  </div>
  <div class="row">
    <div class="table-responsive">
    <table class="table table-sm table-striped">
      <thead class="thead-inverse">
        <tr>
          <th>&nbsp;</th>
          <th>Business</th>
          <th>Neighborhood</th>
          <th>Distance</th>
          <th><%= image_tag "https://cdn.walk.sc/images/api-logo.png", alt: "Walk Score&reg;" %></th>
        </tr>
      </thead>
<%# TODO: Refactor respond_to methods %>
    <% @response.businesses.each do |business| %>
      <tr>
        <td><%= image_tag business.image_url if business.respond_to?(:image_url) %></td>
        <td>
          <%= business.name if business.respond_to?(:name) %><br>
          <% if business.respond_to?(:location) %>
            <%= business.location.address.join(", ") if business.location.respond_to?(:address) %><br>
            <%= business.location.city if business.location.respond_to?(:city) %>, <%= business.location.state_code if business.location.respond_to?(:state_code) %> <%= business.location.postal_code if business.location.respond_to?(:postal_code) %><br>
          <% end %>
        </td>
        <td><%= business.location.neighborhoods.join("<br>").html_safe if business.respond_to?(:location) && business.location.respond_to?(:neighborhoods) %></td>
        <td><%= ("%.2f" % (business.distance * 0.000621371) + " mi") if business.respond_to?(:distance) %></td>
        <% walk_data = walk_score(business.location.address.join(", "), business.location.coordinate.latitude, business.location.coordinate.longitude) %>
        <td><%= link_to "#{walk_data[:walkscore]}<br>#{walk_data[:description]}".html_safe, walk_data[:ws_link], target: "_blank" %></td>
      </tr>
    <% end %>
    </table>
    </div>
  </div>
</div>
